version: "3"
services:
  sample:
    build: ../.
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ../../.:/root/ros2_ws/src/sample
    environment:
      - DISPLAY=:0
    privileged: true
    tty: true